@model sprzedazBiletow.Models.User
@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="jumbotron">
    <h1>PRZEJAZDY KOLEJOWE</h1>
</div>

<div class="row">

    <div><input type="button" value="ZAłÓŻ KONTO"></div>

    <br /><br />
    @using (Html.BeginForm("Authorize", "Home", FormMethod.Post))
    {
    <form id="form" method="post" enctype="multipart/form-data">
        <fieldset id="fieldset">
            <legend id="legend">WYPEŁNIJ DANE LOGOWANIA</legend>
            <table id="tab">
                <tr>
                    <td>@Html.LabelFor(model => model.Login)</td>
                    <td>@Html.EditorFor(model => model.Login)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.Login)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Password)</td>
                    <td>@Html.EditorFor(model => model.Password)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.Password)</td>
                </tr>
            </table>
        </fieldset>
        <div><input type="submit" value="ZALOGUJ"/></div>
    </form>
    }