@model sprzedazBiletow.Models.TicketResponseView
@{
    ViewBag.Title = "Account Page";
}

<style>
    th {
        padding: 10px;
        background-color:cornflowerblue;
    }
    td {
        padding: 10px;
    }
</style>

<br />
<h1>TWOJE KONTO</h1>
<br /><br />

@*<input type="button" value="ZMIEŃ DANE" />*@
<a href="@Url.Action("Logout","Home")">WYLOGUJ</a>

<br /><br />
<div>
    @if (@Session["userName"] != null)
    {
        <h5> IMIĘ I NAZWISKO: <span>@Session["userName"].ToString()</span><span> @Session["userLastName"].ToString()</span>  </h5>
        <h5> ADRES EMAIL: <span>@Session["userEmail"].ToString()</span></h5>
    }

    </br>

    <h5> ZAKUPIONE BILETY: </h5>
    @if (Model != null && Model.list.Count > 0)
    {
        <table border="1|0">
            <tr>
                <th>
                    Pociąg:
                </th>
                <th>
                    Ze stacji:
                </th>
                <th>
                    Do stacji:
                </th>
                <th>
                    Data zakupu:
                </th>
                <th>
                    Data odjazdu:
                </th>
                <th>
                    Godzina odjazdu:
                </th>
                <th>
                    Cena:
                </th>
                <th>
                    Czas:
                </th>
                <th>
                    Status:
                </th>
            </tr>

            @foreach (var item in Model.list)
            {
                <tr>
                    <td>
                        @item.TrainName
                    </td>
                    <td>
                        @item.FromStation
                    </td>
                    <td>
                        @item.ToStation
                    </td>
                    <td>
                        @item.SaleDate
                    </td>
                    <td>
                        @item.DepartureDate
                    </td>
                    <td>
                        @item.DepartureHour
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @item.Time
                    </td>
                    <td>
                        @item.PaymentStatus
                    </td>
                </tr>
            }
        </table>
    }
</div>
