@model sprzedazBiletow.Models.SerachResponseView

@{
    ViewBag.Title = "ZnalezionePolaczenia";
}

<h2>Znalezione Połączenia</h2>

<table class="table">
    <tr>
        <th>
            Pociąg: 
        </th>
        <th>
            Data: 
        </th>
        <th>
            Godzina: 
        </th>
        <th>
            Cena: 
        </th>
        <th>
            Czas: 
        </th>
        <th></th>
    </tr>

    @if (Model != null && Model.list.Count > 0)
    {
        foreach (var item in Model.list)
        {
            <tr>
                <td>
                    @item.TrainName
                </td>
                <td>
                    @item.DepartureDate
                </td>
                <td>
                    @item.DepartureHour
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Time
                </td>
                <td>
                    <input type="checkbox" id="train">
                </td>
            </tr>

        }
        
    }

</table>

@if (Model != null && Model.list.Count > 0)
{
    <input type="submit" value="KUP">
}
